:root {
  --color1: #0c0b0bea;
  --color2: #504646ea;
  --color3: #1d377eea;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background: #007FFF;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

@media (max-width:768px) {
  html {
    font-size: 50%;
  }
}